@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poiret One', sans-serif;
  list-style: none;
}

body {
  height: 100vh;
  font-weight: bold;
  position: relative;

}

button,
a {
  all: unset;
  font: inherit;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 5rem;
  height: calc(100vh - 0.50rem);
  background-color: #ffffff;
  padding: 1rem 0.75rem;
  border-radius: 0.45rem;
  display: flex;
  flex-direction: column;
  transition: width 500ms ease;
  border: solid 1px rgb(103, 98, 98);
  z-index: 1;

}

body.active nav {
  width: 15rem;
}

input {
  border: none;
  text-align: start;
  outline: none;
  border-radius: 20px;
  padding: 4px;
}

input:hover {
  background-color: #ea91973f;
}

.sidebar-header,
.sidebar-links,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.sidebar-header {
  margin-bottom: 1.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.logo-wrapper>img {
  width: 70%;
  background: #f0cbcb;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.6rem;
  padding-top: 1.5rem;
  font-size: 15px;
  color: #3d3839
}

nav>.sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}

body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile {
  justify-content: start;
  align-items: stretch;

}

.link {
  display: flex;
  padding: 0.6rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.hidden,
.procurar {
  display: none;
}

body.active .hidden,
.procurar {
  display: inline;
}


.link:hover,
.link.active:hover {
  background: #ea91973f;
}

a:focus {
  text-decoration: underline;


}


.link>img {
  width: 24px;
  height: 24px;
}

.sidebar-bottom .sidebar-links {
  padding-bottom: 1.5rem;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -45px;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px rgb(152, 148, 148) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;

}

body.active .toggle-btn {
  transform: rotate(180deg);
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgb(211, 211, 211);
}

.user-avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-avatar:hover {
  scale: 1.1;
}

.user-details {
  align-self: center;
  overflow: hidden;
}

.user-details .username {
  font-size: 1rem;
  font-weight: 600;
}

.user-details .user-email {
  padding-right: 12px;
  font-size: 0.9rem;
}

header {
  background: #f1cbcd;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.nameLogo {
  font-size: 35px;
  font-weight: lighter;
  margin-left: 40px;
  color: #86696b;
}

.dropdown {
  max-width: 860px;
  cursor: pointer;

}

.dropdown ul {
  list-style: none;
  margin-top: 2%;

}

.dropdown ul li {
  width: 140px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  float: left;
  color: #86696b;
  background: #f1cbcd;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  font-weight: 530;
  font-family: 'Quicksand', sans-serif;
}

.dropdown ul li:hover {
  background: rgba(230, 127, 146, 0.528);

}


.dropdown ul ul {
  display: none;
}

.dropdown ul li:hover>ul {
  display: block;
}

.dropdown ul ul ul {
  margin-left: 130px;
  top: -3px;
  position: absolute;

}

.boximg {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url(./Assetes/01.jpg);
  background-size: cover;
  color: #86696b;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;


}

.titlebox {
  font-size: 75px;
}

.boxP {
  max-width: 600px;
  font-size: 20px;


}

.buttonP {
  text-align: center;
  background: #f0cbcb;
  width: 120px;
  padding: 10px;
  border-radius: 5%;
  font-weight: bolder;
  border: solid #86696b;
}

.buttonP:focus{
  scale: 1.1
  ;
}


.boxdescricao{
  background: #f0cbcb;
  padding: 12px;
 }

 .card{
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  

 }

 .cards{
  padding: 5px;
  border: 2px solid #ad8a8a;
  border-radius: 5px;
  width: 250px;
  margin: 28px;

 }

 .imgCard{
    width: 100%;
    border-radius: 5px;
 }

 .legend{
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background: #cb9d9de8;
  text-align: center;
  font-family: 'Poppins', sans-serif;
 }

 .price{
  color: #413d3d;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
 }



h1{
  border: solid #ffffff 5px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(45deg ,#905b5b, #d89a9a, #654848);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding: 10px;

}

@keyframes degrade {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@media (max-width:700px) {

  header {

    display: none;
  }

  .sidebar-links {
    overflow: scroll;
  }

  .boximg{
    background-image: url(./Assetes/natural-smiling-woman-with-bouquet-fresh-tulips.jpg);
  }

 .boxtitle, .boxP{
  display: none;
  
 }

 .buttonP{
  margin-left: 50px;
  margin-top: 120px;
  font-size: 22px;
 }


 h1{
   font-size: 20px;
   margin-left: 80px;
 }

  

 .boxCard {
  overflow: scroll;
  display: flex;
  margin-left: 60px;
  }

  .cards{
    width: 180px;
   
  }
   
















}